.crt-scanlines {

    &::before {
        @include crt;
        background-image: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
        z-index: 2;
    }

    &::after {
        @include crt;
        z-index: 1;
        backdrop-filter: blur(3px) contrast(2.5);
        opacity: .2;
    }
}

/* https://aleclownes.com/2017/02/01/crt-display.html */

.pixelgrid {
    &::after {
        @include matrix;
        mix-blend-mode: multiply;
        opacity: .5;
        background-image: linear-gradient(to right, $matrix-green 1px, transparent 1px),
        linear-gradient(to bottom, $matrix-green 1px, transparent 1px);
    }

    &::before {
        @include matrix;
        opacity: .5;
        mix-blend-mode: overlay;
        background-image: linear-gradient(to right, $matrix-green 1px, transparent 1px),
        linear-gradient(to bottom, $matrix-green 1px, transparent 1px);
    }
}
