
main {
    text-align: center;
}

.control-container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#p5Canvas {
    position: relative;
}
